---
layout: article
title: Блог клуба программистов
---
<p>
  <a href="{{site.baseurl}}/">На главную</a>
</p>
{% for post in paginator.posts %}
  <h2><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h2>
  {{ post.excerpt }}
{% endfor %}

{% if paginator.total_pages > 1 %}
<ul>
  {% if paginator.previous_page %}
    <li><a href="{{ paginator.previous_page_path }}">Назад</a></li>
  {% else %}
    <li>Назад</li>
  {% endif %}
    <li>Страница {{ paginator.page }} из {{ paginator.total_pages }}</li>
  {% if paginator.next_page %}
    <li><a href="{{ paginator.next_page_path }}">Вперёд</a></li>
  {% else %}
    <li class="next">Вперёд</li>
  {% endif %}
</ul>
{% endif %}



<!-- This loops through the paginated posts -->
{% for post in paginator.posts %}
  <h1><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h1>
  <p class="author">
    <span class="date">{{ post.date }}</span>
  </p>
  <div class="content">
    {{ post.content }}
  </div>
{% endfor %}

<!-- Pagination links -->
<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}" class="previous">
      Previous
    </a>
  {% else %}
    <span class="previous">Previous</span>
  {% endif %}
  <span class="page_number ">
    Page: {{ paginator.page }} of {{ paginator.total_pages }}
  </span>
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}" class="next">Next</a>
  {% else %}
    <span class="next ">Next</span>
  {% endif %}
</div>